test/resources/smoke-test-triples/elementmatch/elementmatch.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
 xmlns:s="http://dongfang.dk/testdata" 
 targetNamespace="http://dongfang.dk/testdata" 
 elementFormDefault="qualified">

  <complexType name="t1">
    <sequence>
      <element ref="s:a" minOccurs="0" maxOccurs="1"/>
      <element ref="s:b" minOccurs="0" maxOccurs="unbounded"/>
    </sequence>
  </complexType>

  <element name="root" type="s:t1"/>

  <element name="a" type="s:t1"/>
   
  <element name="b">
    <complexType mixed="true">
 <!--     <sequence>
        <element ref="s:b"  minOccurs="0" maxOccurs="unbounded"/>
      </sequence>
-->
    </complexType>
  </element>

 </schema>
