test/resources/smoke-test-triples/general-context-bug/general-context-bug.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
 xmlns:s="http://dongfang.dk/testdata" 
 targetNamespace="http://dongfang.dk/testdata" 
 elementFormDefault="qualified">

  <complexType name="t1">
    <sequence>
      <element ref="s:a" minOccurs="0" maxOccurs="1"/>
      <element ref="s:b" minOccurs="0" maxOccurs="1"/>
    </sequence>
  </complexType>

  <element name="root" type="s:t1"/>

  <element name="a" type="s:a"/>

  <complexType name="a">
    <sequence>
      <element name="c"/>
    </sequence>
  </complexType>
   
  <element name="b">
    <complexType>
      <sequence>
        <element name="d"/>
      </sequence>
    </complexType>
  </element>
</schema>
