test/resources/xsd-dsd-converter/stygge/stygge.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema"
xmlns:tg = "http://dongfang.dk/testdata"
targetNamespace="http://dongfang.dk/testdata"
elementFormDefault="qualified">

<complexType name="typename">
  <sequence>
    <element name="n1" type="tg:typename" minOccurs="0"/>
    <element name="n2">
      <complexType>
   	    <sequence>
          <element name="n5" type="string"/>
        </sequence>    
      </complexType>
    </element>
    <element ref="tg:n3"/>
    <element ref="tg:n4" minOccurs="0"/>
  </sequence>
</complexType>

<element name="n3" type="string"/>

<element name="n4" type="tg:typename"/>

</schema>