test/resources/smoke-test-triples/tiny-failer/tiny-failer.xsd

<?xml version="1.0"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
 xmlns:s="http://dongfang.dk/testdata" 
 targetNamespace="http://dongfang.dk/testdata" 
 elementFormDefault="qualified">

<element name="root">

<complexType>
<sequence>
<element name="a">
<complexType>
<sequence>
<element name="c" type="s:ctypea"/>
</sequence>
</complexType>
</element>

<element name="b">
<complexType>
<sequence>
<element name="c" type="s:ctypeb"/>
</sequence>
</complexType>
</element>
</sequence>
</complexType>
</element>

<simpleType name="ctypea">
<restriction base="string"/>
</simpleType>

<simpleType name="ctypeb">
<restriction base="integer"/>
</simpleType>

</schema>
