temp/examples/fo-schema/rx.xsd

<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'
           targetNamespace='http://www.renderx.com/XSL/Extensions'
           xmlns='http://www.renderx.com/XSL/Extensions'
           xmlns:rx='http://www.renderx.com/XSL/Extensions'>
 <xs:annotation>
  -- This schema was automatically generated by Syntext Dtd2Schema --
  -- conversion tool (from file: fo.dtd) --
  -- Copyright (C) 2002, 2003 Syntext Inc. See http://www.syntext.com for updates. --
 </xs:annotation>
 <xs:attribute name='background-content-width'/>
 <xs:attribute name='background-content-height'/>
 <xs:attribute name='background-scaling'>
  <xs:simpleType>
   <xs:restriction base='xs:string'>
    <xs:enumeration value='uniform'/>
    <xs:enumeration value='non-uniform'/>
   </xs:restriction>
  </xs:simpleType>
 </xs:attribute>
 <xs:element name='bookmark'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='rx:bookmark-label'/>
     <xs:element ref='rx:bookmark' minOccurs='0' maxOccurs='unbounded'/>
   </xs:sequence>
  <xs:attribute name='internal-destination'/>
  <xs:attribute name='external-destination'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='bookmark-label'>
  <xs:complexType mixed='true'>
  </xs:complexType>
 </xs:element>
 <xs:element name='fall-through'/>
 <xs:element name='meta-field'>
  <xs:complexType>
  <xs:attribute name='name' use='required'/>
  <xs:attribute name='value' use='required'/>
  </xs:complexType>
 </xs:element>
 <xs:element name='meta-info'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='rx:meta-field' maxOccurs='unbounded'/>
   </xs:sequence>
  </xs:complexType>
 </xs:element>
 <xs:element name='outline'>
  <xs:complexType>
   <xs:sequence>
     <xs:element ref='rx:bookmark' maxOccurs='unbounded'/>
   </xs:sequence>
  </xs:complexType>
 </xs:element>
 <xs:element name='page-device'>
  <xs:complexType>
  <xs:attribute name='input-tray'/>
  <xs:attribute name='output-tray'/>
  <xs:attribute name='manual-feed'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='true'/>
     <xs:enumeration value='false'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='duplex'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='true'/>
     <xs:enumeration value='false'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='mirror-print'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='true'/>
     <xs:enumeration value='false'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='negative-print'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='true'/>
     <xs:enumeration value='false'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='collate'>
   <xs:simpleType>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='true'/>
     <xs:enumeration value='false'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:attribute>
  <xs:attribute name='number-copies'/>
  </xs:complexType>
 </xs:element>
</xs:schema>
